@model List<DoctoresModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
  <div class="card-header">
    Lista de Doctores
  </div>
  <div class="card-body">
    <a asp-action="GuardarD" asp-controller="MantenedorD" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Especialidad</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Telefono</td>
                        <td>@item.Especialidad</td>
                        <td>@item.DNI</td>
                        <td>
                             <a asp-action="EditarD" asp-controller="MantenedorD" class="btn btn-primary btn-sm" asp-route-Id="@item.Id" >Editar</a>
                             <a asp-action="EliminarD" asp-controller="MantenedorD" class="btn btn-danger btn-sm" asp-route-Id="@item.Id" >Eliminar</a>
                        </td>
                    </tr>

                }
        </tbody>
    </table>

  </div>
</div>

